In [12]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
from sheets import *
from sql.connection import db_connect
import pandas as pd

In [13]:

def run_query(query):
    conn = db_connect()
    df = pd.read_sql(query, conn)
    conn.close()
    return df

In [14]:
def get_dates():
    query = "SELECT 1 FROM daily_balance;"
    return run_query(query)

In [15]:
df = get_dates()

/var/folders/w8/d2rhs9ld4w9fzpc5nffny7dh0000gn/T/ipykernel_16532/1551914284.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [16]:
df

       1
0      1
1      1
2      1
3      1
4      1
...   ..
20621  1
20622  1
20623  1
20624  1
20625  1

[20626 rows x 1 columns]