In [14]:
import yfinance as yf

ticker = "IVVB11.SA"

In [51]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2023-10-06

In [52]:
import yfinance as yf

[*********************100%***********************]  1 of 1 completed

In [53]:
data

                  Open        High         Low       Close   Adj Close  Volume
Date
2016-01-04   83.129997   83.279999   82.910004   83.110001   83.110001   44350
2016-01-05   83.919998   83.919998   82.430000   83.000000   83.000000   96530
2016-01-06   83.000000   83.000000   82.019997   82.099998   82.099998   50250
2016-01-07   83.000000   83.000000   80.889999   81.000000   81.000000   29300
2016-01-08   83.220001   83.220001   80.000000   80.000000   80.000000   10670
...                ...         ...         ...         ...         ...     ...
2023-09-29  239.529999  240.500000  237.250000  238.789993  238.789993  434346
2023-10-02  238.820007  240.970001  238.789993  240.800003  240.800003  148755
2023-10-03  240.199997  241.649994  239.179993  241.649994  241.649994  287851
2023-10-04  241.199997  243.539993  240.119995  243.539993  243.539993  196169
2023-10-05  242.899994  244.160004  241.970001  243.800003  243.800003  365424

[1908 rows x 6 columns]

In [17]:
data = data.reset_index()

In [18]:
data = data.rename(columns={'Date': 'quoteDate', 'Open': 'openPrice', 'Close': 'closePrice'})

In [19]:
data['ticker'] = ticker

In [20]:
data[['ticker', 'quoteDate', 'openPrice', 'closePrice']]

         ticker  quoteDate   openPrice  closePrice
0     IVVB11.SA 2016-01-04   83.129997   83.110001
1     IVVB11.SA 2016-01-05   83.919998   83.000000
2     IVVB11.SA 2016-01-06   83.000000   82.099998
3     IVVB11.SA 2016-01-07   83.000000   81.000000
4     IVVB11.SA 2016-01-08   83.220001   80.000000
...         ...        ...         ...         ...
1792  IVVB11.SA 2023-04-24  230.600006  230.500000
1793  IVVB11.SA 2023-04-25  229.179993  228.490005
1794  IVVB11.SA 2023-04-26  228.279999  227.000000
1795  IVVB11.SA 2023-04-27  226.449997  227.500000
1796  IVVB11.SA 2023-04-28  227.259995  229.750000

[1797 rows x 4 columns]

In [45]:
from MySQLdb import _mysql

In [62]:
db=_mysql.connect(host="finance.cvm2aaxkmu43.us-east-2.rds.amazonaws.com",port=3306, user="admin", password="Nk7f4mJr6?A",database="finance")

In [63]:
db.query("""SELECT ticker, min(operationDate) FROM variable_income GROUP BY ticker""")

In [64]:
r=db.use_result()

In [66]:
all_rows = r.fetch_row(0)

In [67]:
all_rows

((b'BOVA11', b'2020-10-30'),
 (b'CVCB3', b'2020-10-30'),
 (b'MDIA3', b'2020-02-25'),
 (b'HSML11', b'2020-02-25'),
 (b'IVVB11', b'2021-03-19'),
 (b'XINA11', b'2021-05-03'),
 (b'BCFF11', b'2021-09-10'),
 (b'CPTS11', b'2022-04-01'))

In [ ]:
data = yf.download(ticker, start="2016-01-01", end=today)