In [1]:
import yfinance as yf
from datetime import date
import MySQLdb

In [51]:
db=MySQLdb.connect(host="finance.cvm2aaxkmu43.us-east-2.rds.amazonaws.com",port=3306, user="admin", password="Nk7f4mJr6?A",database="finance")

In [52]:
db.query("""SELECT ticker, min(operationDate) FROM variable_income_operations GROUP BY ticker""")

In [53]:
cursor = db.cursor()

In [54]:
r=db.use_result()

In [55]:
all_rows = r.fetch_row(0)

In [56]:
all_rows

(('BOVA11', datetime.date(2020, 10, 30)),
 ('CVCB3', datetime.date(2020, 10, 30)),
 ('MDIA3', datetime.date(2020, 2, 25)),
 ('HSML11', datetime.date(2020, 2, 25)),
 ('IVVB11', datetime.date(2021, 3, 19)),
 ('XINA11', datetime.date(2021, 5, 3)),
 ('BCFF11', datetime.date(2021, 9, 10)),
 ('CPTS11', datetime.date(2022, 4, 1)))

In [59]:
today = date.today()
for ticker, min_time in all_rows:
    print(ticker, min_time)
    try:
        yf.Ticker(ticker).info
    except:
        ticker = ticker + '.SA'
    
    data = yf.download(ticker, start="2016-01-01", end=today)
    data = data.reset_index()
    data = data.rename(columns={'Date': 'quote_date', 'Open': 'open_price', 'Close': 'close_price'})
    data['ticker'] = ticker
    values = [(row[1]['ticker'], row[1]['quote_date'], row[1]['open_price'], row[1]['close_price']) for row in data.iterrows()]
    cursor.executemany(
        "INSERT IGNORE INTO asset_price(ticker, quote_date, open_price, close_price) VALUES(%s, %s, %s, %s)",
        values
    )

BOVA11 2020-10-30
[*********************100%***********************]  1 of 1 completed
CVCB3 2020-10-30
[*********************100%***********************]  1 of 1 completed
MDIA3 2020-02-25
[*********************100%***********************]  1 of 1 completed
HSML11 2020-02-25
[*********************100%***********************]  1 of 1 completed
IVVB11 2021-03-19
[*********************100%***********************]  1 of 1 completed
XINA11 2021-05-03
[*********************100%***********************]  1 of 1 completed
BCFF11 2021-09-10
[*********************100%***********************]  1 of 1 completed
CPTS11 2022-04-01
[*********************100%***********************]  1 of 1 completed

In [ ]:
yf.Ticker(ticker).info["volume"]

In [48]:
db.commit()

In [49]:
db.close()